<div class="container is-fluid">

        <nav class="navbar" role="navigation" aria-label="main navigation">
            
            <div id="navbarBasicExample" class="navbar-brand">
                <a class="navbar-item" routerLink="/heroes">
                    Heroes
                </a>
                <a class="navbar-item" routerLink="/items">
                    Items
                </a>
            </div>

            <div class="navbar-end">
                    <a class="button is-small is-primary" routerLink="/add-hero">
                        Add Hero
                    </a>
                    <a class="button is-small is-light" routerLink="/add-item">
                        Add Item
                    </a>
            </div>
        </nav>

    <h1 class="title">{{title}}</h1>
    <router-outlet></router-outlet>
    <app-messages></app-messages>
</div>